@import './utils/cssConfigMixin.scss';
.App{
    .AppData{
        @include MD{
            display: none;
        }
    }
    .Message{
        display: none;
        
        @include MD{
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            height: 100vh;
            padding: 0 1rem;

        }
    }
}