@import '../../utils/cssConfigMixin.scss';
.ChatContainer {
  position: relative;
  color: white;
  max-width: 100%;
  height: 100vh;
  overflow-y: hidden;
  display: grid;
  grid-template-columns: 5% 20% 75%;
  align-items: start;
  justify-content: center;
  
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(25px);
      -webkit-backdrop-filter: blur(5px);
  background-color: black;
  @include XXXL{
    grid-template-columns: 5% 26% 69%;
  }
  @include XXL{
    grid-template-columns: 5% 29% 66%;
  }
  @include XL{
    grid-template-columns: 5% 35% 60%;
  }
  @include LG{
    grid-template-columns: 5% 40% 55%;
  }

  .LeftContainer {
    
    background-color:rgb(7, 7, 7);
    
    .SearchBar {
      
      position: relative;
      display: flex;
      align-items: center;
      justify-content: start;
     
      height: 90px;
      padding: 0 20px;
      background-color: rgb(0, 0, 0);
      
      input {
        background-color: rgb(30, 38, 48);
      
        height: 50px;
        width: 100%;
        padding: 0 1rem;
        border: none;
        border-radius: 10px;
        color: white;
        &:focus{
          outline: 1px solid rgb(79, 79, 79);
        }
        &::placeholder{
          color:#1b6ff7
        }
      }
      .SearchBtn {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 2;
        right: 1.5rem;
        z-index: 1;
        font-size: 25px;
        cursor: pointer;
        background-color: transparent !important;
        border: none;
        color: #1b6ff7;
      }
    }
    h1 {
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-weight: 500;
      height: 20px;
      font-size: 20px;
      padding: 0px 20px;
      color: rgb(157, 157, 157);
      span.MdLogout{
        cursor: pointer;
      }
    }
    .friendList {
      display: flex;
      flex-direction: column;
      width: 100%;
      h1 {
        font-size: 30px;
        padding: 0px 20px;
        color: rgb(93, 92, 92);
      }
      .Head-Buttons {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-between;
        h1 {
          font-size: 25px;

          color: rgb(93, 92, 92);
        }
        
      }
      .AllFriends {
        height: calc(100vh - 140px);
        /* Allow the list to take up all available vertical space */
        overflow-y: scroll;
        padding: 0 20px;
        
        
        .FriendContainer {
          margin-bottom: 0.5rem;
          padding: 10px 10px;
          border-radius: 5px;
          display: flex;
          align-items: start;
          justify-content: space-between;
          cursor: pointer;
          transition: all 0.3s ease-in-out;
          background-color: rgb(30, 38, 48);
          .Friend {
            display: flex;
            align-items: center;
            justify-content: start;
            gap: 20px;
            
            @include LG{
              gap: 10px;
              overflow-x: hidden;
              
            }
            

            .profileImg {
              width: 40px;
              height: 40px;
              position: relative;
              img {
                border-radius: 50%;
                width: 100%;
                height: 100%;
              }
              .OnlineIndicator {
                position: absolute;
                bottom: 0px;
                right: -2px;
                width: 10px;
                height: 10px;
                border: 1px solid rgb(71, 71, 71);
                background-color: rgb(35, 179, 35);
                border-radius: 50%;
              }
            }
            .friendBox {
              display: flex;
              flex-direction: column;
              align-items: start;
              justify-content: center;

              .userName {
                font-weight: 400 !important;
                @include LG{
                  font-weight: 400 !important;
                  font-size: 20px;
                }
              }
              .msg {
                font-size: 10px;
                color: rgb(195, 195, 195);
                font-weight: 500 !important;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                width: 200px;
              }
            }
          }
          .time {
            font-size: 10px;
            color: rgb(208, 208, 208);
          }
        }
        .bgBlue {
          background-color: #1b6ff7;
        }
        .FriendContainer:hover {
          transition: all 0.2s ease-in-out;
          background-color: #1b6ff7;
        }
      }
      .AllFriends::-webkit-scrollbar {
        width: 7px;
        display: none;
      }
      .AllFriends::-webkit-scrollbar-track {
        background: rgb(245, 242, 242);
      }
      .AllFriends::-webkit-scrollbar-thumb {
        height: 20px;
        border-radius: 20px;
        background-color: rgb(220, 213, 213);
      }
    }
  }

  .mainChat {
    position: relative;
    height: 100vh;
    

    .User {
      padding: 0 1rem;
      height: 90px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 10px;
      background-color:rgb(7, 7, 7);
      .userHeader{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        cursor: pointer;
        .profileImg {
          width: 40px;
          height: 40px;
          img {
            border-radius: 50%;
            width: 100%;
            height: 100%;
          }
        }
        .status {
          display: flex;
          flex-direction: column;
          align-items: start;
          justify-content: center;
          gap: 8px;
          line-height: 20px;
  
          .userName {
            color: rgb(233, 233, 233);
            font-weight: 400;
          }
          .onlineStatus {
            display: flex;
            align-items: center;
            justify-content: start;
  
            .showOnline {
              color: rgb(130, 222, 176);
              font-size: 5px;
            }
            
          }
        }
      }
      .options{
        cursor: pointer;
        position: relative;
      }
      .blocked{
        z-index: 1000;
        position: absolute;
        top: 4rem;
        background-color: #f2f2f2;
        padding: 8px 20px;
        border-radius: 10px;
        right: 0;
        cursor: pointer !important;
      }
    }
    .chat {
      background-color: rgb(30, 38, 48);
      display: flex;
      flex-direction: column;
      align-items: stretch;
      justify-content: end;
      width: 100%;
      border-radius: 10px 0px 0px 10px;
      height: calc(100vh - 190px);
      .chatBox {
        position: relative;
        
        overflow-y: scroll;
        margin: 0;
        display: flex;
        flex-direction: column;
        
        font-size: 20px;
        gap: 0px;
        padding: 2rem 1rem;

        .flex-start {
          align-self: flex-start;
          
           // Align sender's messages to the right
        }
        .flex-end {
          align-self: flex-end;
          
        }
       
          .messages {
            max-width: 50%;
            padding: 10px;
            
            border-radius: 10px;
            
            
            .time {
              margin-left: 10px;
              font-size: 10px;
              color: #b0afaf;
              display: flex;
              align-self: end;
              height: 100%;
            }
            .ImageFile {
              
              
              border-radius: 10px;
              img {
                border-radius: 5px;
                width: 300px;
                height: auto;
                
              }
              .BgBlue{
                background-color: #1b6ff7;
                padding: 10px;
              }
              .bgBlack{
                background-color: rgba(7,7,7,0.5);
                padding: 10px;
              }
            }

            .MessageContainer{
              
              display: flex;
              align-items: start;
              flex-direction: column;
              justify-content: center;
              
              .Header{
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 100%;
              }
              .BG_Green {
                display: flex;
                
                background-color: #1b6ff7;
                padding: 10px;
                border-radius: 10px 0 10px 10px;
              }
              .BG_Gray {
                display: flex;
                background-color: rgba(7,7,7,0.5);
                padding: 10px;
                border-radius: 0 10px 10px 10px;
              }
              
              .user{
                margin-left: 5px;
                color: gray;
                font-size: 5px;
              }
              
            }
          }
        
        

        .StartChat {
          color: rgb(157, 157, 157);
          width: 100%;
          height: 500px;
          display: flex;
          align-items: end;
          justify-content: center;
        }
      }
      .chatBox::-webkit-scrollbar {
        display: none;
      }
      
    }
    .inputMsg {
      width: 100%;
      
      z-index: 100;
      display: flex;
      padding: 1rem 0;
      border-radius: 0 0 10px 0;
      background-color: rgb(7, 7, 7);
      border-top: 1px solid rgba(238, 237, 237, 0.1);
      .icons{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 20px;
        span{
          cursor: pointer;
          font-size: 30px;
        }
        .fileInput{
          cursor: pointer;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
      form {
        
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        input {
          width: 100%;
          background-color: rgb(30, 38, 48);
          border-radius: 20px;
          outline: none;
          padding: 0 1rem;
          height: 60px;
          color: white;
          border: none;
          &::placeholder{
            color: #709CE6;

          }
        }
        .sendIcon {
          border: 0;
          background-color: transparent;
          width: 120px;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 1.2rem;
          color: #709CE6;
        }
        button {
          cursor: pointer;
        }
      }
      .icons {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        width: 100px;
        cursor: pointer;
      }
    }
    .emojis{
      position: absolute;
      bottom: 5rem;
      left: 1rem;
      
      
    }
    .UploadImage {
      height: 300px;
      width: 400px;
      padding: 5px 15px;
      position: absolute;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 10px;
      bottom: 4rem;
      left: 1rem;
      background-color: rgb(21, 26, 32);
      
      border-radius: 10px;
      img {
        width: 100%;
       height: 250px;
       border-radius: 10px;
      }
      .close{
        cursor: pointer;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: end;
      }
      .SendButton {
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
        border-radius: 10px;
        height: 40px;
        
      }
    }

    .WelcomePage {
      
      height: calc(100vh - 0px);
      background-color: rgb(30, 38, 48);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      h1 {
        text-align: center;
        width: 100%;
        font-weight: 600;
      }
      .Logo{
        width: 200px;
        height: 200px;
        img{
          width: 100%;
          height: 100%;
        }
      }
      p{
        color: #5B96F7;

      }
    }
  }

  
}

.loader {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.blockMessage{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  text-align: center;
  color: gray;
}


// LargeImage Modal
.Container{
  position: absolute;
  display: flex;
  
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  z-index: 100000;
  border: 2px solid rgba(42, 133, 236, 0.703);
  
  background-color: rgb(24, 22, 22);
  height: calc(100vh - 5px);
  border-radius: 10px;
  width: calc(100% - 10px);
  .closeBtn{
    position: absolute;
    top: 2rem;
    right: 2rem;
    z-index: 900000;
    background-color: black;
    color: white;
    border: none;
    font-size: 1.2rem;
  }
  .Image{
    width: 100%;
    height: calc(100vh - 200px);
    
    img{
      width: 100%;
      height: 100%;
      overflow-x: hidden;
    }
    
  }
}